<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2011 The Bible Assistant Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
	package="org.heavenus.bible.assistant"
	android:versionCode="108"
	android:versionName="0.1.8" >

    <uses-sdk android:minSdkVersion="4" tools:ignore="UsesMinSdkAttributes" />

    <application android:icon="@drawable/bookmark1" android:label="@string/app_name" android:allowBackup="false">

        <activity android:name=".BookCategoryActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BookListActivity" android:label="@string/app_name">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.heavenus.bible.book" />
            </intent-filter>
		</activity>
        
        <activity android:name=".BookContentActivity" android:label="@string/app_name">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.heavenus.bible.section" />
            </intent-filter>
		</activity>

        <activity android:name=".CommentActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.heavenus.bible.comment.section" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SettingActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

		<provider android:name="org.heavenus.bible.provider.BibleProvider"
			android:authorities="org.heavenus.bible"
			android:exported="true"
			tools:ignore="ExportedContentProvider" />
			
		<provider android:name="org.heavenus.bible.provider.BibleMarkProvider"
			android:authorities="org.heavenus.bible.mark"
			android:exported="false"
			/>

    </application>

</manifest>