BibleAssistant v0.1.0
---------------------
* show Bible content: category list -> book list -> section list.
* add Bible language: Chinese Simplied.
* allow user to view and add comment for every section words.
* supply settings to enable/disable comment mode.


BibleAssistant v0.1.1
---------------------
* complete Bible content(Chinese Simplied version) - New Testament (need review).
* show fast scrolling thumb in content list.


BibleAssistant v0.1.2
---------------------
* complete Bible content(Chinese Simplied version)  - Old Testament (need review).


BibleAssistant v0.1.3
---------------------
* save every book reading position.
* show icon for section item which has comments.


BibleAssistant v0.1.4
---------------------
* complete all book content.


BibleAssistant v0.1.5
---------------------
* adjust section foramt to be more friendly.


BibleAssistant v0.1.6
---------------------
* add context menu for every section words: Copy; Comments.
* support short book title.


BibleAssistant v0.1.7
---------------------
* fix black screen issue in recent devices.


BibleAssistant v0.1.8
---------------------
* add context menu for every section words: Share.
* fix list view scrolling flicker issue in recent devices.


BibleAssistant v0.1.9
---------------------
* upgrade app icons.


BibleAssistant v0.2.0
---------------------
* use action bar for menus, enable system menu.
* add chapter indication when fast scrolling.
* add action item to select chapter.


BibleAssistant v0.2.1
---------------------
* add section menu item: Favorite.
* add action item to manage bookmarks: favorites, comments.
* bookmark management: view all bookmarks, remove bookmark.


BibleAssistant v0.2.2
---------------------
* add action item to search words.
* support word searching in all layers: categories, books, book.
* save/delete searching history.


BibleAssistant v0.2.3
---------------------
* support voice reading content.


BibleAssistant v0.2.4
---------------------
* review bible content(Chinese Simplied version), correct content errors.


BibleAssistant v0.3.0
---------------------
* add app widget: Random Words.


BibleAssistant v0.3.1
---------------------
* add app widget: Daily Words.


BibleAssistant v0.4.0
---------------------
* create iOS version.


BibleAssistant v0.5.0
---------------------
* add Chinese Traditional content database.
* supply settings for language switching.
* default use current locale.


BibleAssistant v0.6.0
---------------------
* add English content database.

