BibleAssistant v0.1.0
---------------------
* show Bible content: category list -> book list -> section list.
* add Bible language: Chinese Simplied.
* allow user to view and add comment for every section words.
* supply settings to enable/disable comment mode.



BibleAssistant v0.1.1
---------------------
* save last book reading position.



BibleAssistant v0.1.2
---------------------
* support word searching.
* bookmark manager: save/restore
* add context menu for every section words: copy; set as new message content; etc.



BibleAssistant v0.1.3
---------------------
* add app widget: Random Word.
* support voice reading section words.



BibleAssistant v0.1.4
---------------------
* add app widget: Daily Word



More future versions:
* add more Bible language content: English, etc.
* supply settings to view and choose different Bible languages.